body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme button {
    background-color: #555;
    color: #fff;
}

.dark-theme .form-check-label {
    color: #000;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
@media (max-width: 576px) {
    .btn {
        border-radius: 10px; 
        padding: 10px 15px; 
        margin-bottom: 5px; 
    }

    .btn-group-sm {
        display: flex;
        flex-direction: column;
    }
}


